@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

body{
    background-color: #03080d;
}

.header-container{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-container{
    width: 25%;
    display: flex;
  
}
    
.logo-container img{
    height: 100px;
    width: 100px;
}

.logo-container h1{
    color: #fff;
    font-size:30px;
    letter-spacing: 0.3px;
    margin-top: 30px;
}

/*Barra de busqueda*/

.barra-container{
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top:8%;
    padding: 10px;
}

.buscar{
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid red;
    transition: all 0.7s ease;
}

.barra-container::placeholder{
    color: grey;
}

.btn-barra{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: red;
    line-height: 80px;
    border-radius:50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn-barra i{
    font-size: 25px;
    color: #fff;
    line-height: 80px;
    transition: all 0.7s ease;
}

.barra-container:hover .buscar{
    width:450px;
}

.barra-container:hover i{
   transform: rotate(-360deg);
}

.btn-barra:hover{
    background: red;
}

/*Termina busqueda*/

/*Botones Interaccion*/
.btn-interaccion{
    width: 25%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.btn-interaccion i{
    color: white;
}

.btn-interaccion:hover .corazon{
  color: red;
}

.btn-interaccion h3{
  color: white;
}

/*Termina interaccion*/

/*Navbar*/
.menu{
  background-color: #000421;
  color: white;
  width:100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}


.dropdown-toggle{
    color: #fff;
}

/*Termina navbar*/

.aside-container{
  width: 100%;
}

.logo-mamamlon{
    width: 100%;
    
}

.banner-principal img{
  width: 100%;
}

.tende{
  margin-top: 10px;
  color: white;
  background-color: red;
}

.main-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer{
    background-color:#1f254a;
    width: 100%;
}


.logo-mamamlon img{
    width: 100%;
    height: 500px;
}
