.fondo{
    background-color:rgb(70, 24, 172);
}

.inicio{
    font-family: 'Courier New', Courier, monospace;
}

.user{
    background-color: red;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}