*{
    font-family: 'Courier New', Courier, monospace;
}
.fondo{
    background-color:rgb(70, 24, 172);
}

.inicio{
    font-family: 'Courier New', Courier, monospace;
}

.user{
    display: flex;
    justify-content:space-between;
    font-size: 10px;
    margin-left: 10px;
}